<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lista de tareas</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="tarea">Tarea</label>
                            <input type="text" class="form-control" id="tareaInput" name="tareaInput" [(ngModel)]="tareaInput" placeholder="Ingresar tarea"> 
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardarValor(tareaInput)" >Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- TAREAS PENDIENTES -->
    <hr class="mb-5">
    <h3>Tareas pendientes</h3>
    <br>
    <div class="row">
        <app-tareas-pendientes 
        *ngFor="let t of tareaItems" 
        [tareas]="t"
        (clicked)="priorizado($event)"
        ></app-tareas-pendientes>
    </div>
</div>

