<div class="trakcs-page">
    <!-- comunicacion entre componente padre (tracks page)
    a componente hijo (section generic) -->

    <!-- cards small -->
            <!-- datos que manda al componente hijo (section generic) -->
    <app-section-generic 
        [title] ="'title section'"
        [mode]="'small'" 
        [dataTracks]="mockTracksList">
    </app-section-generic>
    
    <!-- cards big -->
    <app-section-generic 
        [dataTracks]="mockTracksList" 
        [mode]="'big'"
        [title] ="'title section 2'">
    </app-section-generic>
</div>
